* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #F5F5F5;
}

/* custom fonts */

@font-face {
    font-family: nexaheavy;
    src: url(media/fonts/nexa-heavy.ttf);
}

@font-face {
    font-family: nexalight;
    src: url(Media/fonts/nexa-light.ttf);
}

/* navigation bar elements */

.navbar {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #e5b414;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.675);
}

.navbar-logo {
    display: flex;
    align-items: center;
    gap: 7.5px;
    padding: 0 7.5px;
}

.navbar-logo img {
    height: 4rem;
    padding-left: 7.5px;
}

.navbar-logo h1 {
    font-family: nexalight;
    font-size: 3.5rem;
}

.homepage-link {
    text-decoration: none;
    color: #F5F5F5;
    transition: color 0.25s ease-out, text-shadow 0.25s ease-out;
}

.homepage-link:hover {
    color: #9d00eb;
    text-shadow: 0 0 3px #6500978f;
}

.homepage-subtext {
    font-size: 1rem;
}

.navbar-links {
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-family: nexaheavy;
}

.navbar-item {
    display: inline-flex;
    padding: 25px 20px;
    transition: background-color 0.25s ease-out;
}

.navbar-item a {
    text-decoration: none;
    color: #F5F5F5;
    transition: color 0.25s ease-out, text-shadow 0.25s ease-out;
}

.navbar-item:hover {
    background-color: #e7ae03;
}

.navbar-item:hover a {
    color: #9d00eb;
    text-shadow: 0 0 3px #6500978f;
}

/* video section elements */

.video-section {
    background-image: url(media/images/hero-banner.png);
    background-size: 100% auto;
    background-color: rgba(0, 0, 0, 0.856);
    background-blend-mode: multiply;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 25px 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.675);
    position: relative;
    z-index: 99;
}

.video-container {
    display: flex;
    align-items: center;
}

.video-container iframe {
    border: none;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.274);
}

.video-text {
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-shadow: 0 0 15px black;
}

.video-text h1 {
    line-height: 1;
    margin-bottom: 10px;
    padding: 0 10px;
    color: #F5F5F5;
    font-size: 3.5rem;
    font-family: nexaheavy;
}

.video-text h2 {
    padding: 0 10px;
    color: #F5F5F5;
    font-size: 2rem;
    font-family: nexalight;
    font-style: italic;
    font-weight: 5000;
}

.video-text p {
    padding: 0 10px;
    color: #F5F5F5;
    font-size: 1.25rem;
    font-family: nexalight;
    text-align: justify;
}

.video-text a {
    color: #F5F5F5;
    font-size: 1.25rem;
    font-family: nexalight;
    font-weight: bold;
    text-decoration: none;
}

.video-text hr {
    margin-bottom: 10px;
}

/* book section elements */

.book-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #323652;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.675);
    position: relative;
    z-index: 98;
}

.book-image img {
    height: 18rem;
    padding-top: 15px;
    transform: scale(0.85);
    transition: transform 0.5s ease-out;
}

.book-image img:hover {
    transform: scale(0.95);
}

.book-review {
    padding: 20px 10px 20px 20px;
}

.review {
    color: #F5F5F5;
    font-family: nexalight;
    text-align: justify;
    font-size: 1.1rem;
}

.review-author {
    color: #F5F5F5;
    font-family: nexalight;
    text-align: right;
    font-weight: bold;
    font-size: 0.9rem;
}

/* site preview elements */

.site-preview {
    background-color: #0b0023;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
}

.preview-box {
    display: flex;
    padding: 15px;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.preview-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-wrapper img {
    width: 640px;
    height: 360px;
    object-fit: cover;
}

/* preview texts */

.preview-text {
    width: 640px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.preview-text h1 {
    line-height: 1;
    margin-bottom: 10px;
    padding: 0 10px;
    color: #F5F5F5;
    font-size: 3.5rem;
    font-family: nexaheavy;
}

.preview-text hr {
    margin-bottom: 15px;
}

.preview-text p {
    padding: 0 10px;
    color: #F5F5F5;
    font-size: 1.25rem;
    font-family: nexalight;
    text-align: justify;
}

/* preview text alignment */
.right-align {
    text-align: right;
    text-align-last: right;
}

.left-align {
    text-align: left;
    text-align-last: left;
}
